<!-- 
Tyler Sheffield, Rai Martin, Allan Foote, Mikayla Randall
Section 2
Group 2-11
Group Project 3 -->
<section>
    <!--Header for user rides table-->
    <div style="text-align: center;">
        <h2 style="margin-bottom: 0;">Joined Rides</h2>
    </div>

    <% if (rides.length===0) { %>
        <p>No rides found.</p>
        <% } else { %>

            <div class="grid-container">
                <% for (let iCount=0; iCount < rides.length; iCount++) { %>
                    <div class="grid-item">
                        <div class="grid-detail"><strong>Ride ID:</strong>
                            <%= rides[iCount].ride_id %>
                        </div>
                        <div class="grid-detail"><strong>Origin City:</strong>
                            <%= rides[iCount].start_city %>
                        </div>
                        <div class="grid-detail"><strong>Origin State:</strong>
                            <%= rides[iCount].start_state %>
                        </div>

                        <div class="grid-detail"><strong>Destination City:</strong>
                            <%= rides[iCount].end_city %>
                        </div>
                        <div class="grid-detail"><strong>Destination State:</strong>
                            <%= rides[iCount].end_state %>
                        </div>

                        <div class="grid-detail"><strong>Departure Date:</strong>
                            <%= rides[iCount].formattedDateLeaving %>
                        </div>
                        <div class="grid-detail"><strong>Departure Time:</strong>
                            <%= rides[iCount].formattedTimeLeaving %>
                        </div>
                        <div class="grid-detail ride-action">
                            <% if (rides[iCount].isDriver) { %>
                                <form class="delete-ride-form" action="/delete-ride" method="post">
                                    <input type="hidden" name="ride_id" value="<%= rides[iCount].ride_id %>">
                                    <input type="submit" value="Delete Ride" class="edit-btn">
                                </form>
                                <% } else { %>
                                    <form class="leave-ride-form" action="/leave-rideAccount" method="post">
                                        <input type="hidden" name="ride_id" value="<%= rides[iCount].ride_id %>">
                                        <input type="submit" value="Leave Ride" class="edit-btn">
                                    </form>
                                    <% } %>
                        </div>
                    </div>
                    <% } %>
            </div>

</section>

<% } %>