<section class="service-2 section">
    <!--Header for user rides table-->
    <div style="text-align: center;">
        <h2 style="margin-bottom: 0;">My Posted Rides</h2>
    </div>

    <% if (hostedRides.length===0) { %>
        <p class="align-p-center">No Rides Posted Yet.</p>
        <% } else { %>



            <table class="table-style" id="survey-results-table">
                <thead>
                    <tr>
                        <th>Ride ID</th>
                        <th>Start State</th>
                        <th>Start City</th>
                        <th>End State</th>
                        <th>End City</th>
                        <th>Leave Date</th>
                        <th>Leave Time</th>
                        <th>Ride Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let iCount=0; iCount < hostedRides.length; iCount++) { %>
                        <tr>
                            <td>
                                <%= hostedRides[iCount].ride_id %>
                            </td>
                            <td>
                                <%= hostedRides[iCount].start_state %>
                            </td>
                            <td>
                                <%= hostedRides[iCount].start_city %>
                            </td>
                            <td>
                                <%= hostedRides[iCount].end_state %>
                            </td>
                            <td>
                                <%= hostedRides[iCount].end_city %>
                            </td>
                            <td>
                                <%= hostedRides[iCount].formattedDateLeaving %>
                            </td>
                            <td>
                                <%= hostedRides[iCount].formattedTimeLeaving %>
                            </td>
                            <td>
                                <% if (hostedRides[iCount].isDriver) { %>
                                    <form class="delete-ride-form" action="/delete-ride" method="post">
                                        <input type="hidden" name="ride_id" value="<%= hostedRides[iCount].ride_id %>">
                                        <input type="submit" value="Delete Ride" class="edit-btn">
                                    </form>
                                    <% } else { %>
                                        <form class="leave-ride-form" action="/leave-rideAccount" method="post">
                                            <input type="hidden" name="ride_id"
                                                value="<%= hostedRides[iCount].ride_id %>">
                                            <input type="submit" value="Leave Ride" class="edit-btn">
                                        </form>
                                        <% } %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
</section>

<% } %>