<% if (rides.length===0) { %>
    <h2>My Rides</h2>
    <p>No rides found.</p>
    <% } else { %>

        <section class="service-2 section">
            <!--Header for user rides table-->
            <div style="text-align: center;">
                <h2 style="margin-bottom: 0;">My Rides</h2>
            </div>

            <table class="table-style" id="survey-results-table">
                <thead>
                    <tr>
                        <th>Ride ID</th>
                        <th>Start State</th>
                        <th>Start City</th>
                        <th>End State</th>
                        <th>End City</th>
                        <th>Leave Date</th>
                        <th>Leave Time</th>
                        <th>Ride Status</th>
                    </tr>
                </thead>
                <tbody>
                    <% for (let iCount=0; iCount < rides.length; iCount++) { %>
                        <tr>
                            <td>
                                <%= rides[iCount].ride_id %>
                            </td>
                            <td>
                                <%= rides[iCount].start_state %>
                            </td>
                            <td>
                                <%= rides[iCount].start_city %>
                            </td>
                            <td>
                                <%= rides[iCount].end_state %>
                            </td>
                            <td>
                                <%= rides[iCount].end_city %>
                            </td>
                            <td>
                                <%= rides[iCount].formattedDateLeaving %>
                            </td>
                            <td>
                                <%= rides[iCount].formattedTimeLeaving %>
                            </td>
                            <td>
                                <% if (rides[iCount].isDriver) { %>
                                    <form class="delete-ride-form" action="/delete-ride" method="post">
                                        <input type="hidden" name="ride_id" value="<%= rides[iCount].ride_id %>">
                                        <input type="submit" value="Delete Ride" class="edit-btn">
                                    </form>
                                    <% } else { %>
                                        <form class="leave-ride-form" action="/leave-rideAccount" method="post">
                                            <input type="hidden" name="ride_id" value="<%= rides[iCount].ride_id %>">
                                            <input type="submit" value="Leave Ride" class="edit-btn">
                                        </form>
                                        <% } %>
                            </td>
                        </tr>
                        <% } %>
                </tbody>
            </table>
        </section>

        <% } %>