<h2>Account Details</h2>
<% for (let iCount=0; iCount < allAccounts.length; iCount++) { %>
    <form action="/modify-user" method="post" class="modify-user">
        <label for="">First Name</label>
        <input type="text" name="first_name" value="<%= allAccounts[iCount].first_name%>" required>
        <label for="">Last name</label>
        <input type="text" name="last_name" value="<%= allAccounts[iCount].last_name%>" required>
        <label for="">Email</label>
        <input type="email" name="email" value="<%= allAccounts[iCount].email%>" required>
        <label for="">Username</label>
        <input type="text" name="username" value="<%= allAccounts[iCount].username%>" required>
        <label for="">Update Password</label>
        <input type="password" name="password" value="">

        <div class="btn-span">
            <button type="submit" style="grid-column: 2;" class="btn" id="save-changes">Save
                Changes</button>

            <form id="deleteLogoutUserForm" action="/delete-logout-user/<%= allAccounts[iCount].user_id %>"
                method="POST" class="edit-td" onsubmit="return confirmDeleteLogout()">
                <input type="submit" name="Delete" value="Delete" class="btn delete-btn" />
            </form>
            <% } %>



        </div>
    </form>